<p>
  BI平台指的是由BI的体系结构构建的一个平台 　　BI（Business Intelligence）即商务智能，
  它是一套完整的解决方案，用来将企业中现有的数据进行有效的整合，快速准确的提供报表并提出
  决策依据，帮助企业做出明智的业务经营决策。
  　　商业智能的概念最早在1996年提出。当时将商业智能定义为一类由数据仓库（或数据集市）
  、查询报表、数据分析、数据挖掘、数据备份和恢复等部分组成的、以帮助企业决策为目的技术
  及其应用。而这些数据可能来自企业的CRM、SCM等业务系统。 　　商业智能能够辅助的业务经营
  决策，既可以是操作层的，也可以是战术层和战略层的决策。为了将数据转化为知识，
  需要利用数据仓库、联机分析处理（OLAP）工具和数据挖掘等技术。因此，从技术层面上讲，商业
  智能不是什么新技术，它只是数据仓库、OLAP和数据挖掘等技术的综合运用。
  　　把商业智能看成一种解决方案应该比较恰当。商业智能的关键是从许多来自不同的企业运作
  系统的数据中提取出有用的数据并进行清理，以保证数据的正确性，然后经过抽取（Extractio
  n）、转换（Transformation）和装载（Load），即ETL过程，合并到一个企业级的数据仓库里，从
  而得到企业数据的一个全局视图，在此基础上利用合适的查询和分析工具、数据挖掘工具、OLAP工具等对其进行分析
  和处理（
  这时信息变为辅助决策的知识），最后将知识呈现给管理者，为管理者的决策过程提供数据支持。
  　　商业智能产品及解决方案大致可分为数据仓库产品、数据抽取产品、OLAP产品、展示产品、
  和集成以上几种产品的针对某个应用的整体解决方案等。
</p>

<a (click)="login($event)">跳转到登录页面</a>
